# Database
# Leave blank to use SQLite by default, or provide a postgres connection string
# DATABASE_URL=postgresql://admin:password@localhost:5432/data_monitor

# MinIO S3 Settings
# Use MinIO default credentials
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_DEFAULT_REGION=us-east-1
S3_ENDPOINT_URL=http://localhost:9000
S3_BUCKET_NAME=data-pipeline-bucket


# Email Alerting Settings
SMTP_EMAIL=your_email@gmail.com
# For Gmail, you MUST use an App Password, not your regular password
SMTP_APP_PASSWORD=your_app_password
ALERT_RECIPIENT=alert_recipient@example.com
